#skos-explorer-page-form ul#skos-explorer-endpoint, #skos-explorer-page-form ul#skos-explorer-alphabet {
  margin:0px;
  padding: 0px;
  display: block;
  clear: both;
}

#edit-search-alphabet {
  padding: 0px;
  margin: 0px;
}

#skos-explorer-alphabet {
  clear: both;
}

#skos-explorer-alphabet ul {
  margin:0px;
  padding: 0px;
}

#skos-explorer-alphabet ul li {
  margin-right:10px;
  margin-left: 0px;
}

#skos-explorer-alphabet li {
  float: left;
}


#skos-explorer-page-form li {
  list-style-type: none;
  list-style-image: none;
}

#skos-explorer-page-form .form-item {
  margin:0px;
  padding: 0px;
}

ul#skos-explorer-page-form-elements {
  padding-left: 0px;
  margin-left: 0px;
  display: block;
  clear: both;
}

ul#skos-explorer-page-form-elements li {
  list-style-type: none;
  list-style-image: none;
  float:left;
}

#skos_explorer_left_panel {
  width:49%;
  float: left;
  border:solid 1px #ccc;
}

#skos_explorer_right_panel {
  width:50%;
  float: left;
  border:solid 1px #ccc;
}

.form-item-search-string, .skos_explorer_search_box_submit {
  float:left;
}

.skos_explorer_search_box_submit {
  padding-left: 20px;
}

#skos_explorer_panel {
  clear:both;
}

.ajax-loader {
  background: url('throbber.gif') no-repeat;
  display: block;
  height: 32px;
}

#skos-explorer-log {
  padding-left: 20px;
  display: block;
  overflow: auto;
}

